<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased bg-background" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="min-h-screen bg-white"
  >
    {% include "partials/site-header.html" %}

    <div class="pt-0 pb-10 lg:pt-10">{% block content %}{% endblock %}</div>

    {% include "partials/footer.html" %}

    <script type="module" src="/main.js"></script>
    <script defer src="https://unpkg.com/alpinejs-intersect-class@1.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>
