<footer>
  <div class="mx-auto max-w-screen-2xl grid gap-y-6 md:gap-6 grid-cols-12 pt-20 pb-16 lg:pt-24 lg:pb-20 pl-10 pr-10">
    {% comment %}
    <div class="col-start-1 col-span-12 md:col-start-1 md:col-span-4 lg:col-start-1 lg:col-span-3 justify-items-end">
      <figure class="flex flex-shrink-0 items-end space-x-1">
        <picture>
          <source 
            srcset="https://res.cloudinary.com/hop-yard-brewing/image/upload/v1662643363/HMP-holding/header-logo_2x.png 2x, https://res.cloudinary.com/hop-yard-brewing/image/upload/v1662643363/HMP-holding/header-logo.png 1x" 
            media="(min-width: 768px)"
          >
          <source 
            srcset="https://res.cloudinary.com/hop-yard-brewing/image/upload/v1662643363/HMP-holding/header-logo.png" 
            media="(min-width: 300px)"
          >
          <img class="h-10 w-auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Hannah Martin Pierced" width="222" height="40">
        </picture>
        <figcaption class="sr-only">Hannah Martin Pierced</figcaption>
      </figure>
    </div>
    {% endcomment %}
    <div class="col-start-1 col-span-12 md:col-start-1 md:col-span-6 lg:col-start-1 lg:col-span-6 flex justify-end">
      <div class="flex-1">
        <h5 class="text-xl text-black font-plex uppercase pb-2 font-bold">Contact</h5>
        <a class="block text-hmpgrey pb-2" href="mailto:hello@hannahmartinpierced.com" target="_blank" rel="nofollow">hello@hannahmartinpierced.com</a>
        <a class="block text-hmpgrey pb-2" href="https://twitter.com/hannahmartinpierced" target="_blank" rel="nofollow">@hannahmartinpierced</a>
      </div>
    </div>
    <div class="col-start-2 col-span-11 md:col-start-10 md:col-span-3 lg:col-start-7 lg:col-span-6 text-center md:text-right md:pr-4 lg:pr-6">
      <a class="inline-block ml-3" href="https://instagram.com/hannahmartinpierced" alt="check us out on Instagram">{% include "svg/insta.html" %}</a>
      {% comment %}
      <a class="inline-block ml-3" href="https://twitter.com/hannahmartinpierced" alt="check us out on Twitter">{% include "svg/tw.html" %}</a>
      <a class="inline-block ml-3" href="https://facebook.com/hannahmartinpierced" alt="check us out on Facebook">{% include "svg/fb.html" %}</a>
      {% endcomment %}
    </div>
  </div>
</footer>