<footer>
  <div
    class="mx-auto grid max-w-screen-2xl grid-cols-12 gap-y-6 pt-20 pb-16 pl-10 pr-10 md:gap-6 lg:pt-24 lg:pb-20"
  >
    {% comment %}
    <div
      class="col-span-12 col-start-1 justify-items-end md:col-span-4 md:col-start-1 lg:col-span-3 lg:col-start-1"
    >
      <figure class="flex flex-shrink-0 items-end space-x-1">
        <picture>
          <source
            srcset="
              https://res.cloudinary.com/hop-yard-brewing/image/upload/v1662643363/HMP-holding/header-logo_2x.png 2x,
              https://res.cloudinary.com/hop-yard-brewing/image/upload/v1662643363/HMP-holding/header-logo.png    1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              https://res.cloudinary.com/hop-yard-brewing/image/upload/v1662643363/HMP-holding/header-logo.png
            "
            media="(min-width: 300px)"
          />
          <img
            class="h-10 w-auto"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="Hannah Martin Pierced"
            width="222"
            height="40"
          />
        </picture>
        <figcaption class="sr-only">Hannah Martin Pierced</figcaption>
      </figure>
    </div>
    {% endcomment %}
    <div
      class="col-span-12 col-start-1 flex justify-end md:col-span-6 md:col-start-1 lg:col-span-6 lg:col-start-1"
    >
      <div class="flex-1">
        <h5 class="text-black pb-2 font-plex text-xl font-bold uppercase">
          Contact
        </h5>
        <a
          class="block pb-2 text-hmpgrey"
          href="mailto:info@hannahmartinpierced.com"
          target="_blank"
          rel="nofollow"
          >info@hannahmartinpierced.com</a
        >
        <a
          class="block pb-2 text-hmpgrey"
          href="https://instagram.com/hannahmartinpierced"
          target="_blank"
          rel="nofollow"
          >@hannahmartinpierced</a
        >
      </div>
    </div>
    <div
      class="col-span-11 col-start-2 text-center md:col-span-3 md:col-start-10 md:pr-4 md:text-right lg:col-span-6 lg:col-start-7 lg:pr-6"
    >
      <a
        class="ml-3 inline-block"
        href="https://instagram.com/hannahmartinpierced"
        alt="check us out on Instagram"
        >{% include "svg/insta.html" %}</a
      >
      {% comment %}
      <a
        class="ml-3 inline-block"
        href="https://twitter.com/hannahmartinpierced"
        alt="check us out on Twitter"
        >{% include "svg/tw.html" %}</a
      >
      <a
        class="ml-3 inline-block"
        href="https://facebook.com/hannahmartinpierced"
        alt="check us out on Facebook"
        >{% include "svg/fb.html" %}</a
      >
      {% endcomment %}
    </div>
  </div>
</footer>
